<!-- <form action="/student" method="post">

  <p><input type="radio" name="active_value"> Active </p>
  <p><input type="radio" name="active_value"> Inactive </p>
  <input type="submit" value="Submit">

</form> -->
