<h1><%= @student.to_s %></h1>

<% if @student.active %>
  <p><%= link_to "This student is currently active.", activate_student_path(@student)%></p>
<% else %>
  <p><%= link_to "This student is currently inactive.", activate_student_path(@student)%></p>
<% end %>
